*{
  margin: 0; padding: 0; position: relative; 
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}
a{text-decoration: none;}
ol, ul, li{padding: 0; margin: 0; list-style: none;}
.item img{width: 100%;}

.view_more{
  background-color: unset;
  border: none;
  text-decoration: underline;
  font-size: 18px;
}
.view_more a{
  color: black;
  font-family: 'EB Garamond', serif;
}

/* 헤더 */
header{
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0,0,0,.3);
  z-index: 50;
}
header .container-fluid{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
header img{
  width: 120px !important;
  object-fit: cover;
}
header .nav_bar{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .gnb{
  width: 100%;
  display: flex; align-items: center; justify-content: end;
}
header .gnb a{
  padding: 22.5px 20px;
  color: #131212;
  /* border: 1px solid red; */
}
header .gnb .menu_li:last-child a{
  padding-right: 0;
}
header .gnb a:hover{text-decoration: none; color: #b2afad;}

/* 메인 */
.main .container-fluid{
  height: calc(100vh - 80px);
}
.main .slider{
  width: 100%; height: 100%;
  /* border: 1px solid red; */
}
.main .item{
  width: 100%; height: 100%;
  background: url(img/main.jpg) center center no-repeat;
  background-size: cover;
}
.main .bg{
  position: absolute;
  top: 0; left: 0;
  width: 50%;
  height: 100%;
  /* border: 1px solid red; */
  background-image: linear-gradient(90deg, rgba(0, 0, 0, .7) 70%, rgba(0, 0, 0,0));
}
.main .text{
  /* border: 1px solid red; */
  width: 438px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; justify-content: center;
  left: 6%;
}
.main .text h1{
  color: #23b4b7;
  font-size: 40px;
  font-style: italic;
  font-family: 'EB Garamond', serif;
  margin-bottom: 20px;
  font-weight: 700;
}
.main .text p{
  font-style: italic;
  color: white;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 30px;
}
.main .text span{font-weight: 700;}
.main .text .view_more a{
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
  font-size: 18px;
}

/* 타이틀 공통 */
.section_title{text-align: center;}
.section_title h2{font-family: 'EB Garamond', serif; color: #131212; font-size: 40px; font-weight: 700;}
.section_title .under_line{
  display: block;
  margin: 20px auto 30px;
  width: 63px; height: 1px;
  background-color: black;
}

/* 보조선 */
/* .container-fluid{border: 1px solid red;}
.container{border: 1px solid rgb(255, 142, 142);}
.item{border: 1px solid green;} */

/* 섹션1 */
.section1{padding: 120px 0 100px;}
.section1 .img_box{overflow: hidden;}
.section1 .img_box img{transition: .3s;}
.section1 .item .img_box:hover img{transform: scale(1.05);}
.section1 .text_group{
  text-align: center;
}
.section1 .text1{
  font-size: 16px;
  cursor: pointer;
}
.section1 .text2{
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}
.section1 .text2 span{color: #999999; text-decoration: line-through; font-size: 13px;}
.section1 .img_box .white{
  width: 100%; height: 100%;
  background-color: black;
  position: absolute;
  top: 0; left: 0;
  opacity: 0;
  transition: .3s;
  cursor: pointer;
}
.section1 .item .btn{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  padding: 10px 20px;
  color: white;
  background-color: #131212;
  transition: .3s;
}
.section1 .btn:hover{background-color: #595959;}
.section1 .img_box:hover .white{opacity: .2;}
.section1 .img_box:hover .btn{display: block;}

/* 섹션2 */
.section2{
  background-color: #fff9f8;
  padding: 40px 0;
  margin: 80px 0;
}
/* .section2 .item{
  padding: 20px 0;
} */
.section2 .text h2{
  font-family: 'EB Garamond', serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
}
.section2 .text p{
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.section2 img{transition: .5s;}
.section2 img:hover {filter: invert(.5);}
.section2 .text{text-align: center;}

.section2 .title_group{
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.section2 .title_group h1{
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
.section2 .title_group span{
  font-size: 40px;
  font-weight: 100;
}
.section2 .title_group p{
  font-size: 16px;
  font-weight: 300;
}

/* 섹션3 */
.section3{
  background: url(img/section3.jpg) no-repeat fixed;
  background-size: cover;
  padding: 100px 0;
}
.section3 .item{
  height: 100%;
}
.section3 .section_title{
  height: 100% !important;
  text-align: center; color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4% 0;
}
.section3 .section_title img{
  width: 50%;
  height: 100%;
  object-fit: cover;
  filter: invert(1);
}
.section3 .section_title h2{color: white;}
.section3 .section_title p{
  font-size: 16px;
  line-height: 30px;
  text-shadow: 1px 1px 1px black;
  font-weight: 100;
}
.section3 .section_title .under_line{
  background-color: white;
  margin-left: 0;
  margin: 25px 0;
}
.section3 .item video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  cursor: pointer;
}
.section3 .item .bg{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100% - 30px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.section3 .item .play{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; height: 100px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center; justify-content: center;
  cursor: pointer;
  transition: .3s;
}
.section3 .item i{
  color: black;
  font-size: 30px;
  transition: .3s;
}

.section3 .item .play:hover{
  background-color: black;
}
.section3 .item .play:hover i{
  color: white;
}

/* 섹션4 */
.section4{
  padding: 100px 0;
}
.section4 .img_box .white{
  width: 100%; height: 100%;
  background-color: black;
  position: absolute;
  top: 0; left: 0;
  opacity: 0;
  transition: .3s;
}
.section4 .img_box img{
  transition: .5s;
}
.section4 .item .btn{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  padding: 10px 20px;
  color: white;
  background-color: #131212;
  transition: .3s;
}
.section4 .btn:hover{background-color: #595959;}
.section4 .img_box:hover .white{opacity: .3;}
.section4 .img_box:hover .btn{display: block;}
.section4 .img_box:hover img{transform: scale(1.1);}

.section4 .item h4{color: #131212; font-weight: 300; text-align: center;}
.section4 .item p{color: #747372; text-align: center;}
.section4 .item span{color: #b2afad; text-decoration: line-through; font-size: 13px;}

.section4 .owl-dots{display: none;}
.section4 .owl-nav{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  /* border: 1px solid red; */
}
.section4 .owl-nav button{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 14px;
  height: 34px;
  background-color: rgb(0, 0, 0) !important;
}
.section4 .owl-nav button span{
  display: none !important;
}
.section4 .owl-nav button.owl-prev{
  background: url(icon/arrow_prev.png) no-repeat center center !important;
  background-size: cover;
  left: -20px;
  filter: invert(1);
}
.section4 .owl-nav button.owl-next{
  background: url(icon/arrow_next.png) no-repeat center center !important;
  background-size: cover;
  right: -20px;
  filter: invert(1);
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
  display: block;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
  display: block;
}
.banner .container-fluid{
  padding: 0;
}
.banner .item img{
  width: 100%;
}
.banner .item img:last-child{
  display: none;
}

@media(max-width:768px){
  .banner .item img:first-child{
    display: none;
  }
  .banner .item img:last-child{
    display: block;
  }
}

.section_grid2 .title_group{
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.section_grid2 .title_group h1{
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0 20px !important;
}
.section_grid2 .under_line{
  margin-bottom: 60px;
}
.section_grid2 .title_group span{
  font-size: 40px;
  font-weight: 100;
}
.section_grid2 .title_group p{
  font-size: 16px;
  font-weight: 400;
}
.section_grid2{padding: 100px 0;}
.section_grid2 .title_group h1{font-family: 'EB Garamond', serif; margin-bottom: 60px;}
.section_grid2 .title_group span{font-family: 'EB Garamond', serif; font-weight: 100; font-style: italic;}
.section_grid2 .container{
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 280px;
  gap: 20px;
}
.section_grid2 .container::before,
.section_grid2 .container::after{
  display: none;
}
@media(max-width:768px){
  .section_grid2 .container{
    grid-template-columns: repeat(1,1fr);
  }
}
.section_grid2 .item{
  background-size: cover;
  background: no-repeat center center;
}
.section_grid2 .item img{
  width: 100%; height: 100%;
  object-fit: cover;
}
.section_grid2 .bg{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: .5s;
}
.section_grid2 .item:hover .bg{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.section_grid2 .text_group{
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  color: white;
}
.section_grid2 .text_group h2{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 4px;
}
.section_grid2 .text_group p{
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 8px;
}
.section_grid2 .text_group .view_more a{
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
}

.section_grid2 .item1{grid-row: span 2; background-image: url(img/images/card1.jpg);}
.section_grid2 .item2{background-image: url(img/images/card2.jpg);}
.section_grid2 .item3{grid-row: span 2; background-image: url(img/images/card3.jpg);}
.section_grid2 .item4{grid-row: span 2; background-image: url(img/images/card5.jpg);}
.section_grid2 .item5{background-image: url(img/images/card4.jpg);}
.section_grid2 .item6{background-image: url(img/images/card6.jpg);}

/* 섹션5(구독) */
.section5{
  background-color: #fef0ef;
  padding: 80px 0;
  background: url(img/banner2.png) no-repeat center center;
  background-size: cover;
}
.section5 .bg{
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, .8)30%, rgba(0, 0, 0,0.1));
}
.section5 .section_title{
  color: white;
}
.section5 .section_title h2{
  color: inherit;
}
.section5 .section_title .under_line{
  background-color: white;
}
.section5 .form-group{
  display: flex; justify-content: center;
  margin: 0;
  padding: 20px 0;
}

.section5 .form-control{
  width: 50%;
  height: 60px;
  padding: 0 30px;
}
.section5 .btn{
  height: 60px;
  background-color: black;
  color: white;
  padding: 0 40px;
  margin-left: 10px;
  border-radius: none;
  transition: .3s;
}

.section5 .btn:hover{
  background-color: #595959;
}

/* 푸터 */
footer{
  background-color: #070707;
  color: white;
  padding: 60px 0 50px;
}
footer .item{margin: 30px 0;}
footer .item h4{margin: 0 0 20px;}
footer .item p{cursor: pointer; transition: .3s;}
footer .item p:hover{color: #595959;}

footer .bottom{
  padding: 0 15px;
}
footer .deco_line{
  display: block;
  width: 100%; height: 1px;
  background-color: white;
  margin: 60px 0 20px;
}


@media(max-width:768px){
  header .menu_li{
    display: none;
  }
  header .menu_li>a{
    padding-right: 0;
  }
  header .menu_li:last-child{
    display: block;
  }
  .section5 .form-group{
    display: flex;
    flex-direction: column;
  }
  .section5 .form-control{
    width: 100% !important;
    text-align: center;
  }
  .section5 .btn{
    margin-left: 0 !important;
  }
  .main .item{
    width: 100%; height: 100%;
    background: url(img/main.jpg) right center no-repeat;
    background-size: cover;
  }
  .main .bg{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .7) 50%, rgba(0, 0, 0,0));
  }
  .main .text{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; justify-content: center;
  }
}