*{
  margin: 0; padding: 0; position: relative;
  list-style: none; box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
a{text-decoration: none;}
img, video{display: block;}

header{}
body{height: 13500px;}
header, section{
  position: fixed; top: 0; left: 50%;
  transform: translate(-50%,0);
  max-width: 1920px;   width: 100%; 
  min-width: 1920px;
}
/* 헤더시작 */
header{
  height: 60px;
  display: flex; align-items: center; justify-content: space-between;
  padding: 0 40px;
  z-index: 10;
}
header .logo{}
header .logo img{width: 160px;}
header .gnb{
  display: flex; align-items: center;
}
.gnb .menu_li{
  width: 100px; height: 60px;
  display: flex; align-items: center; justify-content: center;
  margin: 0 20px;
}
.gnb .menu_li>a{
  color: black; font-size: 20px; font-weight: 500;
}
.gnb .sub{
  position: absolute; top: 100%; left: 0;
  width: 100%;
  /* border: 1px solid red; */
  line-height: 25px;
  display: none;
  text-align: center;
}
.gnb .sub_li{}
.gnb .sub_li a{color: black; font-size: 18px;}
header .select_wrap{
  display: flex; align-items: center;
}
.select_wrap .select_li{
  width: 100px; height: 60px;
  display: flex; align-items: center; justify-content: center;
  color: black; font-size: 20px; font-weight: 500;
}
.select_wrap .select_li i{margin-left: 10px; font-size: 12px;}
.select_wrap .sub{
  position: absolute; top: 100%; left: 0;
  width: 50%;
  color: black; font-size: 18px; font-weight: 500;
  /* border: 1px solid red; */
  line-height: 25px;
  display: none;
  text-align: end;
}
.select_wrap .sub_sel{}

/*폰트섹션*/
.section1{
  width: 100%;
  top: 30%;
  z-index: 5;
}
.section1 .text_group{
  display: flex; align-items: center; justify-content: center;
}
.section1 .text_group img{}
/* 폰트 끝 */

/* 비디오 */
.section2{
  top: 40%; width: 100vw; height: 100vh;
  max-width: none;
  transition: .5s;
}
.section2 .bg_vid{}
.section2 .bg_vid video{
  width: 100%; height: 100%;
  object-fit: cover;
  object-position: center center;
}
/* 비디오 끝 */

/* 섹션3(텍스트) */
.section3{
  /* border: 1px solid red; */
  top: 100%;
}
.section3 .text_box{text-align: left; padding: 0 50px;}
.section3 .text_box h1{
  color: white;
  font-size: 50px;
}
.section3 .text_box h1:first-child{margin-bottom: 30px;}
/* 섹션3(텍스트) 끝 */
/* 섹션4 */
.section4{
  padding: 100px 0;
  background-color: white;
  z-index: 10;
}
.section4 .title{
  font-size: 40px;
  padding-left: 50px;
  margin-bottom: 100px;
}
.section4 .container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 150px;
  row-gap: 50px;
}
.item_wrap2{padding-top: 100px ;}
.item_wrap3{padding-top: 200px;}
.item_wrap5{padding-top: 140px ;}
.item_wrap6{padding-top: 200px;}
.item_wrap8{padding-top: 100px ;}
.item_wrap9{padding-top: 200px;}

.section4 .img_box{width: 100%; overflow: hidden;}
.section4 .img_box img{
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  transition: .5s;
}
.section4 .img_box .before{}
.section4 .img_box .after{
  position: absolute;
  top: 0; left: 0;
  opacity: 0;
  transform: scale(1.1);
}
.section4 .item:hover .before{
  transform: scale(1.1);
  opacity: 0;
}
.section4 .item:hover .after{
  transform: scale(1);
  opacity: 1;
}
.section4 .item:nth-child(1) .after{background-color: #ffcc00;}
.section4 .item:nth-child(2) .after{background-color: #ff6062;}
.section4 .item:nth-child(3) .after{background-color: #00cdbd;}
.section4 .item:nth-child(4) .after{background-color: #8338fd;}
.section4 .item:nth-child(6) .after{background-color: #3c9cff;}
.section4 .item:nth-child(7) .after{background-color: #00cdbd;}
.section4 .item:nth-child(8) .after{background-color: #3b9bfd;}
.section4 .item:nth-child(9) .after{background-color: #8338fd;}
.section4 .text_box{
  position: absolute;
  top: 80%; 
  transform: rotate(-5deg);
  width: 500px; height: 200px;
  /* border: 1px solid red; */
  font-size: 40px; font-weight: 700;
  display: flex; 
  flex-direction: column;
  align-items: flex-end;
}
.section4 .text_box .normal{
  position: absolute;
  bottom: -30%;
  left: 0;
  transition: .5s;
}
.section4 .item:hover .normal{
  opacity: 0;
}
.section4 .item:hover .top{
  opacity: 1;
}
.section4 .item:hover .middle{
  opacity: 1;
}
.section4 .item:hover .bottom{
  opacity: 1;
}

.section4 .text_box .top{
  padding: 20px;
  width: 85%;
  text-align: left;
  background-color: #8338fd;
  font-size: 45px; font-weight: 900;
  color: white;
  top: 1px;
  opacity: 0;
  transition: .5s;
}
.section4 .text_box .middle{
  right: 20%;
  width: 80%;
  padding: 15px 20px 5px;
  background-color: #8338fd;
  color: white;
  opacity: 0;
  transition: .5s;
}
.section4 .text_box .bottom{
  width: 100%;
  padding: 10px;
  background-color: white;
  text-align: right;
  opacity: 0;
  transition: .5s;
}
/* 섹션4 끝 */
/* 섹션5 */
.section5{
  top: 0; width: 100vw; height: 100vh;
  max-width: none;
}
.section5 .bg_vid video{
  width: 100%; height: 100%;
  object-fit: cover;
  object-position: center center;
}
/* 섹션5 끝 */
/* 섹션6 */
.section6 .text_group{
  width: 100%; height: 100%;
  margin: 150px;
}
.section6 h1{
  font-size: 200px;
  color: white;
  line-height: 200px;
}
/* 섹션6 끝 */
/* 섹션7 */
.section7 .text_group{
  color: white;
  width: 900px; height: 500px;
  /* border: 1px solid red; */
  margin: 225px auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.section7 .group1{}
.section7 h1{font-size: 65px; margin-bottom: 40px;}
.section7 h2{
  font-size: 26px;
  padding-top: 300px;
}
.section7 h3{
  font-size: 14px; font-weight: 500;
  display: flex; align-items: center;
}
.section7 .yellow{
  display: block;
  width: 12px; height: 12px;
  background-color: yellow;
  border-radius: 50%;
  margin-right: 10px;
}
/* 섹션7 끝 */
/* 섹션8 */
.section8{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.section8 .item{
  width: 860px; height: 1080px;
  margin-left: 200px;
  /* border: 1px solid red; */
  padding: 100px 60px 50px;
  color: white;
}
.section8 h1{font-size: 48px; line-height: 35px; margin-bottom: 210px;}
.section8 .small{font-size: 15px; top: -25px; left: 15px;}
.section8 p{font-size: 18px; font-weight: 700;}
.section8 .under_line{
  display: block; height: 1px; width: 100%;
  background-color: white;
  margin: 10px 0 40px;
}
.section8 .text1{font-size: 24px; margin-bottom: 150px;}
.section8 .text1 h2{font-size: 26px; margin-bottom: 6px;}
.section8 .text2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  font-weight: 700;
}
.section8 .text2 .title{font-size: 18px; margin-bottom: 10px;}

.item1{background-color: rgba(57, 139, 255, .5);}
.item2{background-color: rgba(159, 50, 169, .5);}
.item3{background-color: rgba(255, 106, 110, .5);}
.item4{background-color: rgba(135, 59, 255, .5);}

.item2 h1, .item3 h1{margin-bottom: 245px;}
.item2 .text2, .item4 .text2{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  font-weight: 700;
}
.item2 .text2{letter-spacing: -0.5px;}
.item3 .text1{margin-bottom: 115px;}
/* 섹션8 끝 */
/* 섹션9 */
.section9{
  width: 100%; height: 100vh;
  display: flex; flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.section9 h1{font-size: 30px; margin-bottom: 15px;}
.section9 h2{font-size: 20px; font-weight: 500;}
/* 섹션9 끝 */
/* 섹션10 */
.section10{
  width: 100%;
  background-color: white;
  /* display: none; */
  overflow: hidden;
  z-index: 2;
}
.section10 .title{
  font-size: 58px; font-weight: 700; 
  padding: 100px 0 0 80px;
  margin-bottom: 400px;
}
.section10 .detail{
  position: absolute;
  top: 400px; right: 350px;
  font-size: 26px; font-weight: 700;
}
.section10 .detail .btn{
  width: 120px; height: 120px;
  display: block;
  background-color: yellow;
  border-radius: 50%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.section10 .img_box{width: 100%; z-index: -2;}
.section10 .img_box img{width: 70%; margin: auto;}
.section10 .text_line{
  color: #cfcfcf;
  position: absolute;
  transform: rotate(-30deg);
  white-space: nowrap;
}
.section10 .text_line p{
  font-size: 12vw;
  font-family: "휴먼둥근헤드라인";
}
.section10 .text_line1{top: 1200px; z-index: -3;}
.section10 .text_line2{top: 1500px; z-index: -1;}
/* 섹션10 끝 */
/* 섹션11 */
.section11{
  width: 100%; height: 1080px;
  /* border: 1px solid red;  */
  padding: 200px 80px 0;
  background: url(leferi/bg2.jpg);
  z-index: 6;
}
.section11 .slider{
  font-size: 26px;
  font-weight: 700;
}
.section11 .owl-nav{text-align: center; margin-top: 100px;}
.section11 .owl-prev{
  width: 50px; height: 50px; background-color: white !important;
  border-radius: 50%;
  margin-right: 25px;
}
.section11 .owl-next{
  width: 50px; height: 50px; background-color: white !important;
  border-radius: 50%;
  margin-left: 25px;
}
.section11 .owl-prev span{top: -3px;}
.section11 .owl-next span{top: -3px;}
.section11 .item{
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 40px 0;
}
.section11 .item .date{font-size: 18px; padding: 5px 0 0 0;}
.section11 .item .detail{}
.section11 .item .btn{
  font-size: 14px; display: flex; 
  align-items: center;
  margin-top: 60px;
}
.section11 .item .btn .yellow{
  width: 12px; height: 12px;
  display: block;
  background-color: yellow;
  border-radius: 50%;
  margin-right: 15px;
}
.section11 .footer{
  font-size: 18px;
  font-weight: 500;
  display: grid;
  grid-template-columns: 30% 20% 10% 20% 20%;
  margin-top: 190px;
}
.section11 .footer img{width: 160px;}
/* 섹션11 끝 */

.fa-arrow-up{
  position: fixed;
  right: 30px; bottom: 30px;
  font-size: 35px;
  color: black;
  padding: 20px;
  z-index: 6;
}

.inquiry{
  width: 120px; height: 120px;
  display: block;
  background-color: yellow;
  border-radius: 50%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  position: fixed;
  bottom: 50px; right: 100px;
  z-index: 1;
}