@charset "UTF-8";
*{margin: 0; padding: 0; position: relative; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif;}
a{text-decoration: none; color: white;}
li, ol, ul{list-style: none;}
img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

body{background-color: black;}

/* 공용 */
section{
  margin-bottom: 120px;
}
.container{
  max-width: 1320px;
  padding: 0 20px;
  margin: auto;
}
.section_title{
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: white;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.section_title span{
  font-family: 'Playfair Display', serif;
}
.section_title .b{
  font-size: 70px;
}
.section_title .m{font-size: 60px;}
.section_title .s{font-size: 50px;}
.section_title .sub{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: -.2px;
}
.view_btn{
  margin-top: 60px;
  text-align: center;
}
.view_btn a{
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 500;
  transition: .3s;
}
.view_btn .line{
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: .5s;
}
.view_btn a:hover{
  color: #baab8f;
}
.view_btn a:hover .line{
  background-color: #baab8f;
  animation: line .5s 1 normal both;
}
.view_btn a:hover .line1{
  background-color: #baab8f;
  animation: line .5s 1 normal both;
}
.view_btn .line1{
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px !important;
  background-color: white;
  transition: .5s;
}
@keyframes line{
  0%{
    transform: scaleX(1);
    transform-origin: right;
  }
  50%{
    transform: scaleX(0);
    transform-origin: right;
  }
  51%{
    transform: scaleX(0);
    transform-origin: left;
  }
  100%{
    transform: scaleX(1);
    transform-origin: left;
  }
}


/* 헤더 */
header{
  width: 100%;
  height: 60px;
  z-index: 100;
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(10px);
}
header .container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 114px;
  height: 40px;
  z-index: 101;
}
header .gnb{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media(max-width:1024px){
  header .gnb{display: none;}
  header .logo{
    width:100px;
    height: 34px;
    top: 50%; left: 20px;
    transform: translate(0, -50%);
  }
}
header .menu_li{
  margin: 0 20px;
}
header .menu_li:nth-child(3){margin-right: 234px;}
header .menu_li:last-child{margin-right: 0;}
header .menu_li a{
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: .3s;
}
header .menu_li .under_line{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: #baab8f;
  transform: scaleX(0);
  transform-origin: center;
  transition: .3s;
}

header .menu_li:hover .under_line{transform: scaleX(1);}

header .menu_li:hover a{
  color: #baab8f;
}
header .ham_btn{
  position: absolute;
  top: 50%; right: 20px;
  transform: translate(0, -50%);
  width: 20px; height: 18px;
  cursor: pointer;
  transition: 1s;
}

/* 메인슬라이더 */
.main{
  width: 100%;
  height: 100vh;
  background: url(img/main_bg.png) no-repeat center bottom;
  background-size: cover;
}
.main .slider1{
  position: absolute;
  bottom: 20%;
  width: 100%;
  height: 600px;
}
.main .item{
  width: calc(100vw / 3);
  height: 600px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .item img{
  width: 380px;
  height: 600px;  
  z-index: 5;
}
@media(max-width:1024px){
  .main .slider1{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main .item{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
  }
}
@media(max-width:1680px){
  .main .item{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
  }
  .main .item img{
    width: 100%;
    height: 70%;
    object-fit: contain;
  }
  .main .slider1{
    bottom: 10%;
  }
}
@media(max-width:768px){
  .main .slider1{
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main .item{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
  }
  .main .item img{
    width: 100%;
    height: 90%;
    object-fit: contain;
  }
}
@media(max-height:520px){
  .main .item img{
    width: 50%;
    height: 40%;
    object-fit: contain;
  } 
  .main .slider1{
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.main .owl-dots,
.main .owl-nav{display: none;}

/* 레시피 */
.recipe{
  background: url(img/bg/recipes_marquee_desktop2.jpg) no-repeat center center;
  background-size: cover;
  padding: 60px 0;
}
.recipe .bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .2;
}
.recipe .section_title{
  margin-bottom: 64px;
}
.recipe .slider2{
  height: 440px;
}
.recipe .item{
  width: 290px !important;
  height: 400px !important;
  cursor: pointer;
  background-color: rgba(19, 19, 19, 0.3);
  backdrop-filter: blur(5px);
  margin: 0 20px;
}
.recipe .owl-item:nth-child(2n){margin-top: 40px;}
.recipe .item .hover_box{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  opacity: 0;
  transition: .2s;
}
.recipe .item:hover .hover_box{
  opacity: 1;
}
.recipe .item .name{
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 18px;
  text-align: center;
}
.recipe .owl-dots{display: none;}
.recipe .owl-nav{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  /* border: 1px solid red; */
}
.recipe .owl-nav button{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 14px;
  height: 34px;
  background-color: rgb(0, 0, 0) !important;
}
.recipe .owl-nav button span{
  display: none !important;
}
.recipe .owl-nav button.owl-prev{
  background: url(icon/arrow_prev.png) no-repeat center center !important;
  background-size: cover;
  left: -20px;
}
.recipe .owl-nav button.owl-next{
  background: url(icon/arrow_next.png) no-repeat center center !important;
  background-size: cover;
  right: -20px;
}
@media(max-width:1024px){
  .recipe .owl-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}
@media(max-width:768px){
  .recipe .section_title{
    transform: scale(.7);
  }
  .recipe .slider2{
    height: 400px;
  }
  .recipe .owl-item:nth-child(2n){margin-top:0;}
}
@media(max-height:520px){
  .recipe{padding: 20px 0;}
  .recipe .section_title{margin-bottom: 20px;}
  .recipe .slider2{
    height: 300px;
  }
  .recipe .owl-item{
    width: auto;
    height: 200px;
  }
  .recipe .item{
    width: auto !important;
    height: 200px !important;
  }
  .recipe .hover_box{
    height: 50px !important;
    padding: 5px 10px !important;
  }
  .recipe .hover_box .name{font-size: 14px;}
  .recipe .view_btn{margin-top: 20px;}
}

.pro{
  padding: 60px 0;
}
.pro .container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.pro .item{
  width: calc(100% / 6);
  height: 100%;
  padding: 20px;
  cursor: pointer;
}
.pro .item img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pro .item:nth-child(3) img,
.pro .item:nth-child(6) img{
  object-position: left center;
}
.pro .item .number, 
.pro .item .title,
.pro .item .text{
  text-align: center;
}
.pro .item .number{
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #baab8f;
  font-weight: 400;
  margin-bottom: 30px;
  text-shadow: 1px 1px 1px black;
}
.pro .item .title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  font-weight: 500;
  letter-spacing: -.2px;
  line-height: 40px;
  width: 146px;
  margin-bottom: 15px;
}
.pro .item .text{
  position: absolute;
  top: 55%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  font-size: 18px;
  color: rgba(255, 255, 255, 0);
  font-weight: 100;
  letter-spacing: -.2px;
  line-height: 29px;
  text-shadow: 1px 1px 1px black;
  opacity: 0;
  pointer-events: none;
}
.pro .item,
.pro .number,
.pro .title{transition: 1s;}

.pro .item.active{
  width: 500px;
}
.pro .item.active .number{
  left: 7%;
  transform: translate(0, -50%);
}
.pro .item.active .title{
  width: auto;
  text-align: left;
  left: 7%;
  transform: translate(0, -50%);
}
.pro .item.active .title:nth-child(1){
  width: 100%;
  text-align: left;
  left: 7%;
  transform: translate(0, -50%);
}
.pro .item.active .text{
  text-align: left;
  color: white;
  opacity: 1;
  left: 7%;
  transform: translate(0, 0);
  width: 100%;
  pointer-events: all;
  transition: 1s;
}

@media(max-width:1024px){
  .pro .item .title{font-size: 24px;}
}
@media(max-width:768px){
  .pro .section_title{
    margin-bottom: 30px;
  }
  .pro .container{
    display: block;
    height: 100vh;
  }
  .pro .item{
    height: calc(100vh / 6);
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 40px;
  }
  .pro .item .number{
    position: relative;
    width: auto;
    top: 0; left: 0;
    transform: translate(0);
    margin: 0 20px 0 0;
  }
  .pro .item .title{
    position: relative;
    width: auto;
    top: 0; left: 0;
    transform: translate(0, 0);
    margin: 0;
  }
  .pro .item .text{
    opacity: 0;
    position: absolute;
    top: 120px; left: 86.26px;
    transform: translate(0, 0);
    margin: 0;
  }
  .pro .view_btn{margin-top: 140px;}

  
  .pro .item.active{
    height: 240px;
    width: 100%;
  }
  .pro .item.active .number{
    position: relative;
    width: auto;
    top: 0; left: 0;
    transform: translate(0, 0);
    top: -80px;
  }
  .pro .item.active .title{
    position: relative;
    width: auto;
    top: 0; left: 0;
    transform: translate(0, 0);
    margin: 0;
    top: -80px;
  }
  .pro .item.active .text{
    opacity: 1;
    position: absolute;
    top: 50%; left: 86.26px;
    transform: translate(0, -50%);
    margin: 0;
    font-size: 14px;
  }
}
@media(max-width:300px){
  .pro .section_title{
    margin-bottom: 30px;
  }
  .pro .container{
    display: block;
    height: 100vh;
  }
  .pro .item{
    height: calc(100vh / 6);
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 5px;
  }
  .pro .item .number{
    position: relative;
    width: auto;
    top: 0; left: 0;
    transform: translate(0);
    margin: 0 10px 0 0;
  }
  .pro .item .title{
    position: relative;
    width: auto;
    top: 0; left: 0;
    transform: translate(0, 0);
    margin: 0;
  }
  .pro .item .text{
    opacity: 0;
    position: absolute;
    top: 120px; left: 41.26px;
    transform: translate(0, 0);
    margin: 0;
    width: 180px;
  }
  .pro .item .text br{
    display: none !important;
  }
  .pro .view_btn{margin-top: 140px;}


  .pro .item.active{
    height: 240px;
    width: 100%;
  }
  .pro .item.active .number{
    position: relative;
    width: auto;
    top: 0; left: 0;
    transform: translate(0, 0);
    top: -80px;
  }
  .pro .item.active .title{
    position: relative;
    width: auto;
    top: 0; left: 0;
    transform: translate(0, 0);
    margin: 0;
    top: -80px;
  }
  .pro .item.active .text{
    opacity: 1;
    position: absolute;
    top: 50%; left: 41.26px;
    transform: translate(0, -50%);
    margin: 0;
    font-size: 13px;
    width: 170px;
  }
}
@media(max-height:500px){
  .pro .item{
    height: 400px
  }
}

/* .news .container{
  max-width: 100%;
  max-height: 600px !important;
  height: 600px !important;
}
.news .slider3{
  width: 100%;
  height: 600px !important;
} */
.news .container{
  max-width: 1320px;
  padding: 0 20px;
  height: 600px;
}
.news .slider3{
  width: 100%;
  height: 600px !important;
}
.news .item{
  margin: auto;
  width: 100%;
  height: 600px !important;
}
.news .item .normal{
  display: block;
}
.news .item .mobile{
  display: none;
}
@media(max-width:1029px){
  .news .item{
    width: 90vw;
  }
  .news .item .normal{
    display: none;
  }
  .news .item .mobile{
    display: block;
    object-fit: contain;
  }
  .section_title{
    transform: scale(.7);
    margin-bottom: 30px;
  }
}


.slider3 .owl-carousel .owl-loaded .owl-drag{
  height: 600px !important;
}
.news .owl-dots{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}
.owl-dots .owl-dot span{
  display: block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 0 6px;
}
.owl-dots .owl-dot.active span{
  width: 10px; 
  height: 10px;
  background-color: rgba(0, 0, 0, .09);
  border: 1px solid white;
}
.news .owl-nav{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  /* border: 1px solid red; */
}
.news .owl-nav button{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 14px;
  height: 34px;
  background-color: rgb(0, 0, 0) !important;
}
.news .owl-nav button span{
  display: none !important;
}
.news .owl-nav button.owl-prev{
  background: url(icon/arrow_prev.png) no-repeat center center !important;
  background-size: cover;
  left: -20px;
}
.news .owl-nav button.owl-next{
  background: url(icon/arrow_next.png) no-repeat center center !important;
  background-size: cover;
  right: -20px;
}

@media(max-width:768px){
  html{
    overflow-x: hidden;
  }
}
@media(max-width:437px){
  .sus .b, .sus .m, .sus .s{
    position: relative;
    right: 30px;
  }
}

.story .container{
  height: auto;
}
.story .line{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  height: 100%;
  width: 1px;
  background-color: white;
}
.story .color_line{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  width: 3px;
  background-color: #baab8f;
  transition: 1s;
}
.story .item{
  height: calc(50% - 20px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 40px;
}
@media(max-width:768px){
  .story .img_box{
    grid-column: span 2;
  }
  .story .text_box{
    grid-column: span 2;
  }
  .story .item2 .text_box{
    grid-row: 2;
    text-align: left;
  }
  .story .line{
    display: none;
  }
  .story .color_line{
    display: none;
  }
}
.story .img_box{
  width: 100%;
  height: 100%;
  transition: 1s;
  overflow: hidden;
}
.story .img_box img{
  width: 100%;
  object-position: top center;
}
.story .text_box{
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  transition: 1s;
}
.story .item2 {text-align: end;}
.story .text_box .sins{
  font-family: 'Playfair Display', serif;
  color: #baab8f;
  font-size: 24px;
  margin-bottom: 10px;
}
.story .text_box .title{
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -.2px;
  line-height: 44px;
  margin-bottom: 20px;
}
.story .text_box .detail{
  font-size: 20px;
  font-weight: 100;
  letter-spacing: -.2px;
  line-height: 29px;
}

footer{
  width: 100%;
  height: 220px;
  background-color: #2E2E2E;
  padding: 20px;
}
footer .logo{
  width: 140px;
  height: 48px;
  margin: auto;
  margin-bottom: 20px;
}
footer .text{
  text-align: center;
  margin-bottom: 25px;
}
footer .text a{
  margin: 0 25px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -.2px;
}
footer .text a:nth-child(2){
  color: #baab8f;
}
footer .icon_group{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
footer .icon_group img{
  width: 28px;
  height: 28px;
  margin: 0 5px;
}
footer .small_text{
  text-align: center;
  color: white;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: -.2px;
}

@media(max-width:768px){
  footer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .text{
    display: none;
  }
}
.side{
  position: fixed;
  top: 0;
  right: -110%;
  z-index: 102;
  width: auto;
  height: 100vh;
  padding: 70px 30px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(10px);
  transition: 1s;
  overflow-y: scroll;
}
.side::-webkit-scrollbar{
  display: none;
}
.side.active{
  right: 0%;
}
.side .close{
  position: absolute;
  top: 22.2px;
  right: 30px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.side a{
  transition: .5s;
}
.side a:hover{
  color: #baab8f;
}
.side .main_menu a{
  font-family: 'Playfair Display', serif;
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.side .main_menu a:last-child{
  margin-bottom: 30px;
}
.side input{
  width: 75%;
  height: 34px;
  margin-bottom: 30px;
  background-color: transparent;
  outline: none;
  margin-right: 2px;
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: 400;
  letter-spacing: -.2px;
  border: 1px solid white;
}
.side input:focus{
  outline: none;
  border: 1px solid #baab8f;
}
.side input::placeholder{
  font-size: 14px;
  color: white;
  font-weight: 400;
  letter-spacing: -.2px;
}
.side button{
  width: 22%;
  border: 1px solid white;
  font-size: 14px;
  color: white;
  font-weight: 400;
  letter-spacing: -.2px;
  height: 34px;
  background-color: transparent;
}
.side button:focus{
  border: 1px solid #baab8f;
}
.side .sub_menu a{
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
.side .sub_menu a:last-child{
  margin-bottom: 30px;
}
.side .sub{
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.side .sub p{
  margin-bottom: 15px;
}